@import "nib"
@import "normalize-css/normalize.css"
@import "magnific-popup/dist/magnific-popup.css"

html
  font-family: 'Orbitron', 'Bank Gothic', Helvetica, Arial, sans-serif;
  font-size: 100px

.clearfix
  zoom: 1
  &:before, &:after
    content: ""
    display: table
  &:after
    clear: both

$lightBlue = #79CCF6
$blue = #66ccff
$darkBlue = #60aaf1
$pink = #ff6881
$pinkDark = #cc547c
$gray = #777e8c

// icons

@font-face
  font-family: "Flaticon"
  src: url("../../font/flaticon.eot")
  src: url("../../font/flaticon.eot#iefix") format("embedded-opentype"),
    url("../../font/flaticon.woff") format("woff"),
    url("../../font/flaticon.ttf") format("truetype"),
    url("../../font/flaticon.svg") format("svg");
  font-weight: normal
  font-style: normal

.icon
  font-family: Flaticon
  font-style: normal
  &.icon-mine::before
    content: "\e000"
  &.icon-delete::before
    content: "\e001"
  &.icon-flag::before
    content: "\e002"
  &.icon-stopwatch::before
    content: "\e003"

body
  color: $gray
  font-size: 16px

a:link, a:visited
  text-decoration: none
  color: $blue
  transition: color 0.2s
a:hover
  color: $pink

button
a.button
  background: $blue
  border-radius: 3px
  border: none
  color: #fff
  padding: 10px 10px
  transition: color 0.1s, background 0.15s
  text-decoration: none
  &:hover
    color: @background
    background: #fff
  &.pink
    background: $pink
    color: #fff
    &:hover
      color: @background
      background: #fff
  &.full-size
    display: inline-block
    padding: 10px
    margin: 0 4px
    font-size: 22px
    min-width: 100px

.blue
  color: $blue
.pink
  color: $pink

#wrapper
#main
  margin: 0 auto

header
  max-width: 600px
  margin: 0 auto
  h1
    text-align: center
  ul, li
    list-style: none
    padding: 0
    font-size: 0
  li
    width: 33%
    display: inline-block
    font-size: 16px
    text-align: center

.board
  margin: 30px auto 10px
#gaming
  @extend .clearfix
  background-color: #f1f1f1
  box-shadow: 0 0 6px @background-color
  user-select: none
  .grid
    float: left
    box-sizing: border-box
    width: 30px
    height: @width
    text-align: center
    line-height: @height
  .square
    .mine
      font-size: 12px
    .cover
      width: 26px
      height: 26px
      box-sizing: border-box
      line-height: @height
      text-align: center
      font-size: 14px
      color: #f1f1f1
      position: relative
      top: 2px
      left: 2px
      background-color: $darkBlue
      position: relative
      box-shadow: 0px 0px 3px @background-color
      transition: all 0.4s
    .icon-flag
      top: 2px !important
      background: transparent !important
      padding: 0 0 0 3px
      color: $darkBlue
      border: 1px solid @color
    &:hover, &.hover
      .cover
        background: $blue
        top: 0
    &.preview
      .cover
        background: $lightBlue
  .open-1
    color: #77B3EE
  .open-2
    color: #81D478
  .open-3
    color: #EF7081
  .open-4
    color: #8C77EE
  .open-5
    color: #F1C01E
  .open-6
    color: #42D098
  // default gray color for 7
  .open-8
    color: #aaa
  .killer
    color: #EC0000
    animation-name: explode
    animation-duration: 2s
    position: relative
    z-index: 50


@keyframes explode {
  from {
    opacity: 1
    transform: scale(1)
  }
  to {
    opacity: 0
    transform: scale(5)
  }
}

.status
  .icon
    line-height: 24px
    font-size: 20px
    width: 30px
    text-align: center
    &::before
      font-size: 24px
      padding-right: 6px
  .mines-count
    float: right

.menu
  .level
    li
      list-style: none
      box-sizing: border-box
      padding: 15px
      margin: 10px 0
      cursor: pointer
      border: 1px solid transparent
      &:hover
      &.selected
        border: 1px solid $blue
      &:hover
        color: $blue
    .level-name
      width: 6em
      padding-right: 1em
      display: inline-block
  

// magnific-popup
.white-popup
  position: relative
  background: #FFF
  padding: 20px
  width: auto
  max-width: 500px
  margin: 20px auto
  img
    max-width: 100%
  .actions
    text-align: right
    margin: 1em 0
  &.game-over
    text-align: center
    .score
      font-size: 1.5em
      margin: 0 0.1em 0 0.2em
  &.playing-menu
    text-align: center
    .menu
      margin-bottom: 30px

.mfp-fade-from-top
  &.mfp-bg
    opacity: 0
    transition: all 0.3s ease-out
    &.mfp-ready
      opacity: 0.8
    &.mfp-removing
      opacity: 0
  &.mfp-wrap
    .mfp-content
      opacity: 0
      transform: translateY(-100px);
      transition: all 0.3s ease-out
    &.mfp-ready
      .mfp-content
        opacity: 1
        transform: translateY(0px);
    &.mfp-removing
      .mfp-content
        opacity: 0
        transform: translateY(-100px);
